@import "../global.scss";

.page {
    .transport {
        text-align: center;
        margin-top: 4rem;

        p {
            margin: 0.5rem;
            font-size: 0.9rem;
            font-weight: 400;

            span {
                font-weight: 500;
            }
        }
    }
}
